*/build/*
*.pdf
Administration/
CR/
Doc_Examples/
doc_test/
ideeTaxoWord2vec.txt
notesReu/
shitIDidToMakeItWork.txt
taxonomie.txt
testFrOCR.png
testQuality.png
*/__pycache__/*
*.pyc
__init__*
*/.cache/*
